/* global styles */
body {
	font-family: "Montserrat";
	line-height: 1.5;
	text-align: center;
}
h1, h2, h3 {
	font-size: 3.5rem;
	font-weight: bold;
}
p {
	color: #8f8f8f;
}
/* Containers */
.container-fluid {
	padding: 7% 15%;
}
/* nav bar styles */
.navbar {
	padding: 0 0 4.5rem;
}
.navbar-brand {
	font-size: 2.5rem;
	font-family: "Ubuntu";
	font-weight: bold;
}
.nav-item {
	padding: 0 18px;
}
.nav-link {
	font-size: 1.2rem;
	font-weight: 200;
}
/* download buttons */

.download-button {
	margin: 5% 3% 5% 0;
}
/* title image */
.title-img {
	transform: rotate(25deg);
	width: 60%;
	position: absolute;
	right: 30%;
}

#title {
	background-color: #ff4c68;
	color: #fff;
}
.title-card {
	text-align: left;
}
#title .container-fluid {
	padding: 3% 15% 7%;
}

/* Features section */
#features {

	background-color: #fff;
	position: relative;

}

.feature-text {
	margin: auto;
	line-height: 1.5;
	padding: 5%;
}
.feature-heading {
	font-size: 1.5rem;
}

/* Testimonies */
.testimony-img {
	border-radius: 100%;
	width: 15%;

}
#testimonials {
	background-color: #ef8172;

	color: #fff;
}

.testimonial-text {
	font-size: 2rem;
	line-height: 1.5;
}
/* Pricing */
#pricing {
	padding: 100px;

}
.pricing-column {
	padding: 3% 2%;
}
.card-header h3, h2{
	font-size: 2.5rem;
}
/* Press section */
#press {
	background-color: #ef8172;

	padding-bottom: 3%;
}
.press-logo {
	width: 16%;
	margin: 20px 20px 50px;
}

/* call to action and footer */
#cta {
	background-color: #ff4c68;
	color: #fff;

}
.cta-h3 {
	font-size: 3rem;
	line-height: 1.5;
}
footer {

	background-color: #fff;
}

@media (max-width: 1028px) {
	.title-img {
		transform: rotate(0);
		width: 60%;
		position: static;
		right: 30%;
	}
	.title-card {
		text-align: center;
	}
}
